.DS_Store
*.jar
*.json
keys.yaml
full-corpus.csv
full-corpus-irrelavant-removed.csv
sanders-twitter-0.2/full-corpus-2-ways.csv
sanders-twitter-0.2/full-corpus-3-ways.csv
sanders-twitter-0.2/rawdata
test.py
*.sql
